
@charset "utf-8";





div.main{
    background: #edcc8b; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #edcc8b 1%, #e8b298 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#edcc8b), color-stop(100%,#e8b298)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #edcc8b 1%,#e8b298 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #edcc8b 1%,#e8b298 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #edcc8b 1%,#e8b298 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #edcc8b 1%,#e8b298 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edcc8b', endColorstr='#e8b298',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
}
div.main2{
  background: #000000; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #000000 1%, #e8b298 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#000000), color-stop(100%,#e8b298)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #000000 1%,#e8b298 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #000000 1%,#e8b298 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #000000 1%,#e8b298 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #000000 1%,#e8b298 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e8b298',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
    margin:0px auto;

  &:before{},
  &:after {
    box-sizing: border-box;
  }

}

/*
body {  
  color: #000000;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}*/
body {
  background: #d4a29c; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #d4a29c 1%, #f8e1ea 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#d4a29c), color-stop(100%,#f8e1ea)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #d4a29c 1%,#f8e1ea 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #d4a29c 1%,#f8e1ea 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #d4a29c 1%,#f8e1ea 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #d4a29c 1%,#f8e1ea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4a29c', endColorstr='#f8e1ea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
	font-family: "kanit", "Arial", sans-serif;
}
a {
	color: #eee;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/*
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}*/
input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}
p {
	line-height: 1.5em;
}
header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}
/*
.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
*/
#login form{
	width: 250px;
}
#login, .logo{
    display:inline-block;
    width:40%;
}
#login{
border-right:1px solid #fff;
  padding: 0px 22px;
  width: 59%;
}
.logo{
color:#fff;
font-size:40px;
  line-height: 100px;
}
.minor{
  color:brown;
  font-size:30px;
    line-height: 10px;
}
.minimal{
  color:blue;
  font-size:18px;
    line-height:20px;
    text-align: right;
    padding-top:30px
}

#login form span.fa {
	background-color: #fff;
	border-radius: 3px 0px 0px 3px;
	color: #000;
	display: block;
	float: left;
	height: 50px;
    font-size:24px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
}
fieldset{
    padding:0;
    border:0;
    margin: 0;

}
#login form input[type="text"], input[type="password"] {
	background-color: #fff;
	border-radius: 0px 3px 3px 0px;
	color: #000;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 200px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  height: 30px;
}

#login form input[type="submit"]:hover {
	background-color: #d44179;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}
.middle {
  display: flex;
  width: 600px;
}